{
  "presets": ["env", "react", "stage-2"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@build": "./build",
          "@config": "./config",
          "@fixtures": "./fixtures",
          "@public": "./public",
          "@client": "./src/client",
          "@common": "./src/client/common",
          "@modules": "./src/client/modules",
          "@redux": "./src/redux",
          "@api": "./src/api",
          "@server": "./src/server"
        }
      }
    ]
  ]
}
