{
  "presets": [["@babel/preset-env", { "useBuiltIns": "entry" }], "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-strict-mode",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-alias",
          {
            "config": "./resources/webpack/config.js"
          }
        ],
        [
          "react-css-modules",
          {
            "context": "./src",
            "exclude": "node_modules",
            "generateScopedName": "[local]",
            "filetypes": {
              ".scss": {
                "syntax": "postcss-scss",
                "plugins": ["postcss-nested"]
              }
            }
          }
        ]
      ]
    }
  }
}
