@import '../theme/variables';

header {
  background-color: $color-primary;
  box-shadow: 0 2px 2px -1px $color-border;
  height: $header-height;
}

.menu {
  .active,
  %active {
    background-color: lighten($color-primary, 5%);
    text-decoration: underline;
  }

  ul {
    height: $header-height;
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 0;
    text-align: center;
  }

  li > a {
    color: $color-white;
    display: inline-block;
    height: $header-height;
    line-height: $header-height;
    min-width: 60px;
    padding: 0 $base-padding;
    text-decoration: none;
  }

  li > a:hover {
    @extend %active;
  }
}
