$font-stack: Helvetica, sans-serif;

$base-font-size: 1em;
$base-margin: 20px;
$base-padding: 20px;
$header-height: 60px;

$color-black: #000;
$color-blue: #00f;
$color-border: #ccc;
$color-red: #f00;
$color-white: #fff;
