$font-stack: Helvetica, sans-serif;

$base-font-size: 1em;
$base-margin: 24px;
$base-padding: 24px;
$header-height: 60px;

$color-primary: #23395d;
$color-black: #000;
$color-blue: #00f;
$color-border: #ccc;
$color-red: #f00;
$color-white: #fff;
