<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Universal React Redux</title>
      <link type="text/css" href="dist/<%- css -%>" rel="stylesheet" />
    </head>
  <body>
    <div id="root">
      <%- content -%>
    </div>
    <script src="dist/<%- js -%>"></script>
  </body>
</html>
