<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Universal React Redux</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <% if (css) { %>
      <link type="text/css" href="/dist/<%- css -%>" rel="stylesheet" />
    <% } %>
  </head>
  <body>
    <div id="root"><%- appString -%></div>
    <%- preloadedStateScript -%>
    <% if (js) { %>
      <script src="/dist/<%- js -%>"></script>
    <% } %>
  </body>
</html>
