@import '~@styles/variables';

.lead {
  font-size: 1.125em;
  font-weight: 400;
}

.logo {
  display: block;
  height: 96px;
  margin-bottom: $base-margin / 4;
  overflow: hidden;
  width: 96px;

  img {
    display: block;
    height: 100%;
    width: 100%;
  }
}
