@import '~@styles/variables';

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fafbfc;
  font: 100% $font-stack;
  position: relative;
}

#root {
  height: 100%;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

hr {
  background: #dedede;
  border: 0;
  height: 1px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
